.title-wrapper {
  width: 50vw;
  height: calc(100vh - 116px);
  @media (max-width: 767.9px) {
    width: 100vw;
  }
  @media (max-width: 399.9px) {
    min-height: calc(100vh - 116px);
    height: fit-content;
  }

  .title-box {
    height: inherit;
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      display: block;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 32px;

      &.greeting {
        margin-top: -8rem;
        color: #40f99c;
        font-size: 64px;
        line-height: 32px;
        @media (max-width: 767.9px) {
          margin-top: 60px;
        }
        @media (max-width: 399.9px) {
          margin-top: 160px;
        }
        @media (max-height: 441.9px) {
          margin-top: 250px;
        }
      }
    }

    a {
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 18px;
      color: #40f99c;
      box-shadow: 0 6px 6px -6px #6bdea4;
      width: fit-content;
      line-height: 32px;
      i {
        margin-left: 6px;
        font-family: FontAwesome;
        font-style: normal;
      }
    }

    .chip-group {
      margin-top: 48px;
      display: flex;
      justify-content: center;
      @media (min-width: 1399.999px) {
        justify-content: flex-start;
      }
      @media (max-width: 767.9px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
      }

      button {
        border-radius: 24px;
        cursor: pointer;
        
        &:nth-of-type(1) {
          margin-right: 16px;
          line-height: 24px;
          box-shadow: 0 0 5px 2px #c1c1c1;
          &:hover {
            box-shadow: 0 0 8px 2px #f0f0f0;
          }

          @media (max-width: 767.9px) {
            margin: 0 0 20px 0;
          }
        }
        &:nth-of-type(3) {
          margin-left: 16px;
          box-shadow: 0 0 5px 2px #6e5494;
          &:hover {
            box-shadow: 0 0 8px 2px #a989da;
          }
          @media (max-width: 767.9px) {
            margin: 20px 0 20px 0;
          }
        }
        i {
          margin-right: 6px;
          font-size: 24px;
        }
      }
    }
  }
}
.neon-lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  height: calc(100vh);
}

.neon-lines {
  background-image: linear-gradient(-45deg, #001d1d, #1d001d);
}