<div class="title-wrapper">
  <div class="title-box">
    <h2 class="greeting">Hello!</h2>
    <h2>
      <span> My name is </span>
      <span>Will</span>
      <span>,</span>
      <span> and I'm a fullstack software developer.</span>
    </h2>
    <a target="_blank" (click)="click('about')">Learn more about me<i class="fas fa-angle-right"></i></a>
    <div class="chip-group">
      <button (click)="downloadCv()">Download CV</button>
      <button (click)="openLink('https://www.linkedin.com/in/william-arnold-b899a01b0/')"><i class="fa fa-linkedin-square"></i>LinkedIn</button>
      <button (click)="openLink('https://github.com/william-arn9')"><i class="fa fa-github"></i>Github</button>
      <a #downloadLink style="display: none;"></a>
    </div>
  </div>
  <div class="neon-lines"></div>
</div>