nav {
  height: 40px;
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  background-color: #07070e;

  h1 {
    margin: 0px 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 36px;
    @media (max-width: 767.9px) {
      width: 32px;
    }
    cursor: pointer;
    .letter {
      position: relative;
      display: inline;
      &.second {
        margin-left: -104px;
        transition: all .4s ease;
      }
    }
    .letter-hidden {
      transform: scaleX(0);
      opacity: 0;
      transform-origin: 0 50%;
      transition: all .4s ease;
      width: 0;
    }
  }
  h1:hover {
    .letter.second {
      @media (min-width: 767.999px) {
        margin-left: 8px;
      }
    }
    .letter-hidden {
      @media (min-width: 767.999px) {
        width: 100%;
        opacity: 1 !important;
        transform: scaleX(1) !important;
      }
    }
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin: 0;
    z-index: 2;
    @media (max-width: 767.9px) {
      gap: 8px;
    }

    li {
      height: 16px;
      a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        text-decoration: none;
        display: block;
        width: 100px;
        color: #fff;
        letter-spacing: 1.25px;
        padding: 8px;
        text-align: center;
        border-radius: 4px;
        @media (max-width: 767.9px) {
          width: fit-content;
        }
        @media (max-width: 399.9px) {
          font-size: 18px;
          padding: 8px 2px;
        }

        &:hover {
          background-color: #16162c;
          color: #40f99c;
        }
      }
    }
  }
}