.home-graphic-wrapper {
  width: 50vw;
  height: calc(100vh - 116px);
  @media (max-width: 767.9px) {
    width: 100vw;
    position: absolute;
    left: 0;
    top: -150px;
    z-index: -1;
  }

  .home-graphic-box {
    height: inherit;
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 70%;
      height: auto;
      @media (min-aspect-ratio: 2/1) {
        width: 50%;
      }
    }
  }
}