<div class="about-me-wrapper">
  <div class="about-me-box">
    <mat-tab-group>
      <mat-tab class="tab personal" label="Personal Information">
        <div class="tab-body personal">
          <p class="personal-heading">William Arnold</p>
          <p class="personal-subheading">Phoenix, AZ</p>
          <p>
            Hello, thank you for taking interest in reading about me! I am a highly skilled and dedicated fullstack app developer 
            with a strong background in enterprise systems. I specialize in frontend development, with a subset of expertise in user 
            experience and accessibility. With a passion for creating innovative and user-friendly applications, I demonstrate 
            exceptional proficiency in managing and leading teams to build production-ready software solutions.
          </p>
          <p>
            I hold a Bachelor of Science in Software Engineering (BSSE) from Arizona State University, where I acquired a solid 
            foundation in software development principles and practices.
          </p>
          <p>
            Currently employed as an Application Developer at Marsh McLennan since May 2021, I have been responsible for leading 
            teams in the construction of insurance applications for clients. I successfully managed fullstack applications through 
            multiple enhancement phases, taking on multiple agile roles to maximize output with a limited team. By completing 
            enhancements promptly, I ensure ample time for thorough testing and seamless deployment.
          </p>
          <p>
            One of my notable achievements at Marsh McLennan was updating the Marsh platform to comply with accessibility standards. 
            I also developed a proof of concept for Marsh's accessibility Continuous Integration and Continuous Deployment (CICD) 
            quality gate. Additionally, I led a team of frontend developers from the discovery phase to the first production 
            release of a high-profile application. Throughout this project, he excelled in writing user stories, managing the 
            backlog, leading standup calls, reviewing all pull requests, conducting quality assurance, and implementing core 
            functionality. William's comprehensive support extended to training and mentoring new team members, including 
            fullstack developers, frontend developers, and scrum masters.
          </p>
          <p>
            Prior to my current role, I worked as a Fullstack App Developer at Ibiley School Uniforms from December 2020 to May 2021. 
            During this time, I implemented a metrics and administration dashboard, seamlessly integrating existing legacy resources 
            into a new Single-Page Application (SPA) using ReactJS, .Net Core, and Bulma CSS. My direct collaboration and regular 
            progress presentations to the marketing manager at Ibiley ensured the success of the project. I played a key role in 
            implementing various new features, such as file upload, referrals, metrics tracking, and displays for third-party APIs, 
            utilizing his expertise in ReactJS and .Net Core.
          </p>
          <p>
            With a diverse skill set encompassing languages such as JavaScript, TypeScript, Java, C#, and HTML/CSS, along with 
            frameworks like Angular, ReactJS, Spring Boot, Express, and Bootstrap, I demonstrate versatility and adaptability in my 
            work. My technical proficiency extends to software development, agile development methodologies, data structures, 
            REST API development, reactive CSS, software testing, and continuous integration.
          </p>
          <p>
            Throughout his career, William has consistently exhibited a strong sense of accountability, responsibility, and 
            consistency in his work. His passion for creating exceptional user experiences drives him to continually enhance his 
            skills and deliver high-quality solutions.
          </p>
        </div>
      </mat-tab>
      <mat-tab class="tab" label="Technical Skills">
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">Typescript</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                5/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">HTML</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                5/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">CSS/SCSS</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                5/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">Java</p>
            <div class="row">
              <div class="col">
                <span class="number-years">5</span>yrs
              </div>
              <div class="col">
                4/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">C#</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-angular"></i>
            <p class="card-title">Angular</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                5/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-react"></i>
            <p class="card-title">React</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-vuejs"></i>
            <p class="card-title">VueJS</p>
            <div class="row">
              <div class="col">
                <span class="number-years">1</span>yrs
              </div>
              <div class="col">
                2/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-power-off"></i>
            <p class="card-title">Spring Boot</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-gear"></i>
            <p class="card-title">Express</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-gear"></i>
            <p class="card-title">.NET</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-bootstrap"></i>
            <p class="card-title">Bootstrap</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                4/5
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab" label="Soft Skills">
        <ul class="soft-skills-list">
          <li>Scrum management</li>
          <li>UI/UX Design</li>
          <li>Software testing</li>
          <li>Reactive CSS</li>
          <li>Accessibility</li>
          <li>Continuous Integration</li>
          <li>Accountability</li>
          <li>Effective Communication</li>
          <li>Teamwork</li>
          <li>Consistency</li>
          <li>Responsibility</li>
          <li>Adaptability</li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="neon-lines"></div>
</div>