<div class="about-me-wrapper">
  <div class="about-me-box">
    <mat-tab-group>
      <mat-tab class="tab" label="Professional Skills">
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">Typescript</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                5/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">HTML</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                5/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">CSS/SCSS</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                5/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">Java</p>
            <div class="row">
              <div class="col">
                <span class="number-years">5</span>yrs
              </div>
              <div class="col">
                4/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">C#</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-angular"></i>
            <p class="card-title">Angular</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-react"></i>
            <p class="card-title">React</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-vuejs"></i>
            <p class="card-title">VueJS</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-power-off"></i>
            <p class="card-title">Spring Boot</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-gear"></i>
            <p class="card-title">Express</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-gear"></i>
            <p class="card-title">.NET</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-bootstrap"></i>
            <p class="card-title">.NET</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                3/5
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab" label="Soft Skills"></mat-tab>
      <mat-tab class="tab" label="Personal Information"></mat-tab>
    </mat-tab-group>
    
  </div>
  <div class="neon-lines"></div>
</div>