<div class="about-me-wrapper">
  <div class="about-me-box">
    <mat-tab-group>
      <mat-tab class="tab personal" label="Personal Information">
        <div class="tab-body personal">
          <p class="personal-heading">William Arnold</p>
          <p class="personal-subheading">Phoenix, AZ</p>
          <p>
            Hello, thank you for taking interest in reading about me! I am a highly skilled and dedicated fullstack app developer 
            with a strong background in enterprise systems. I specialize in frontend development, with a subset of expertise in user 
            experience and accessibility. With a passion for creating innovative and user-friendly applications, I demonstrate 
            exceptional proficiency in managing and leading teams to build production-ready software solutions.
          </p>
          <p>
            I hold a Bachelor of Science in Software Engineering (BSSE) from Arizona State University, where I acquired a solid 
            foundation in software development principles and practices.
          </p>
          <p>
            Currently employed as an Application Developer at Marsh McLennan since May 2021, I have been responsible for leading 
            teams in the construction of insurance applications for clients. Some of my notable achievements include accessibility 
            enhancing internal frameworks, developing an accessibility quality gate CICD integration, leading teams through several 
            development phases of business-to-consumer applications, and enabling skilled team members through training and guidance.
          </p>
          <p>
            I take great pride in the non-technical skills that I bring to the table. My abilities in ownership and accountability consistently 
            help to create exceptional projects, processes, and internal strategies. I highly value proactive risk management. This skill 
            helps to ensure consistency in on-time delivery and assists in lowering the stress of the colleagues around me. Additionally, 
            I greatly enjoy working as part of a team and find enablement and motivation to be highly enjoyable. I work to create positive 
            work culture that team members can enjoy. It's often said that a good work place is challenging yet supportive. I bring these values 
            everywhere that I go.
          </p>
          <p>
            Outside of work, I have hobbies in fitness, cooking, and movies. I enjoy spending my weekends in the gym, and visiting local restaurants. 
            I like to travel and I do my best to plan one international trip per year. This year I'm going to Greece and next year I'm going to Italy!
            As an individual that enjoys relaxation and food culture, these are good international experiences for my tastes.
          </p>
          <p>
            I hope to hear from you soon! Please reach out to me via LinkedIn or email and I will respond at my earliest convenience!
          </p>
        </div>
      </mat-tab>
      <mat-tab class="tab" label="Technical Skills">
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">Typescript</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">5/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="100"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">HTML</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">5/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="100"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">CSS/SCSS</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">5/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="100"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">Java</p>
            <div class="row">
              <div class="col">
                <span class="number-years">5</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">4/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="80"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-code"></i>
            <p class="card-title">C#</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">3/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="60"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-angular"></i>
            <p class="card-title">Angular</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">5/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="100"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-react"></i>
            <p class="card-title">React</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">3/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="60"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-vuejs"></i>
            <p class="card-title">VueJS</p>
            <div class="row">
              <div class="col">
                <span class="number-years">1</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">2/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="40"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-power-off"></i>
            <p class="card-title">Spring Boot</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">3/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="60"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-gear"></i>
            <p class="card-title">Express</p>
            <div class="row">
              <div class="col">
                <span class="number-years">3</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">3/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="60"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-solid fa-gear"></i>
            <p class="card-title">.NET</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">3/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="60"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-background">
            <i class="fa-brands fa-bootstrap"></i>
            <p class="card-title">Bootstrap</p>
            <div class="row">
              <div class="col">
                <span class="number-years">2</span>yrs
              </div>
              <div class="col">
                <span class="percent-text">4/5</span>
                <circle-progress
                  class="percentage-circle"
                  [percent]="80"
                  [radius]="22"
                  [outerStrokeWidth]="3"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#980098'"
                  [innerStrokeColor]="'#980098'"
                  [outerStrokeGradientStopColor]="'#009191'"
                  [outerStrokeGradient]="true"
                  [showSubtitle]="false"
                  [showUnits]="false"
                  [showTitle]="false"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab" label="Soft Skills">
        <ul class="soft-skills-list">
          <li>Scrum management</li>
          <li>UI/UX Design</li>
          <li>Software testing</li>
          <li>Reactive CSS</li>
          <li>Accessibility</li>
          <li>Continuous Integration</li>
          <li>Accountability</li>
          <li>Effective Communication</li>
          <li>Teamwork</li>
          <li>Consistency</li>
          <li>Responsibility</li>
          <li>Adaptability</li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="neon-lines"></div>
</div>