<div class="experience-wrapper">
  <div class="experience-box">
    <h3 class="subheading">Education</h3>
    <div class="field">
      <p class="title-line"><span class="field-title">Arizona State University</span><span class="field-annotation"> Aug 2017 - May 2021</span></p>
      <p>Bachelor of Science in Software Engineering (BSSE)</p>
    </div>
    <h3 class="subheading">Professional Experience</h3>
    <div class="field">
      <p class="title-line"><span class="field-title">Marsh McLennan</span><span class="field-annotation"> May 2021 - Present</span></p>
      <p>Responsible for leading teams of up to eight developers in building consumer insurance applications for clients.</p>
      <ul>
        Achievement Highlights
        <li>
          Independently managed a full stack application through three phases of enhancements.
          I took on multiple agile roles during development to meet business needs.
          Enhancements were consistently completed quickly, allowing for excess time for testing
          and deployment.
        </li>
        <li>
          Updated internal frameworks to be accessibility compliant and built a proof of concept for
          an internal accessibility CICD quality gate.
        </li>
        <li>
          Led a team of six frontend developers from the discovery phase through the first
          production release of a high profile application. Throughout this project I wrote user
          stories, managed the backlog, led standup calls, reviewed PRs, performed QA, and
          implemented core functionality.
        </li>
        <li>
          I trained and supported new team members including fullstack developers, frontend
          developers, and scrum masters.
        </li>
      </ul>
    </div>
    <div class="field">
      <p class="title-line"><span class="field-title">Ibiley Uniforms</span><span class="field-annotation"> October 2020 - May 2021</span></p>
      <p>Developed a metrics and administration dashboard incorporating legacy resources into a new SPA application using ReactJS, .NET Core, and Bulma CSS.</p>
      <ul>
        Achievement Highlights
        <li>
          Worked directly and presented progress regularly to the marketing manager at Ibiley to
          ensure business needs were being met.
        </li>
        <li>
          Assisted in implementing a variety of new features from scratch utilizing ReactJS and .Net Core: file
          upload, referrals, metrics tracking, displays for third party APIs.
        </li>
      </ul>
    </div>
  </div>
</div>