<div class="projects-wrapper">
  <div class="projects-box">
    <h3 class="subheading">Reverse Wordle</h3>
    <div class="project-preview">
      <img src="assets/images/reverse-wordle.png" alt="Screenshot of reverse wordle web app"/>
      <div class="overlay-buttons">
        <button class="overlay-button" (click)="linkOut('https://github.com/william-arn9/reverse-wordle')">View Source</button>
        <button class="overlay-button" (click)="linkOut('https://github.com/william-arn9/reverse-wordle')">View Demo</button>
        <!-- Add more buttons as needed -->
      </div>
    </div>
    <h3 class="subheading">Project 2</h3>
    <div class="project-preview"></div>
    <h3 class="subheading">Project 3</h3>
    <div class="project-preview"></div>
  </div>
</div>