.contact-wrapper {
  width: 50vw;
  height: calc(100vh - 116px);

  .contact-box {
    height: inherit;
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}