/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #020306;
  color: #ffffff;
}

button {
  background-color: transparent;
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 18px;
  font-size: 18px;
  border: none;
  box-shadow: 0 0 5px 2px #0077B5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 84vh !important;
}
.mat-tab-labels {
  justify-content: space-around;
}
.mat-tab-label-content {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1.25px;
}
.mat-ink-bar {
  background: linear-gradient(to bottom right, #980098, #009191);
}